body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #0e0e0e;
  color: #f5f5f5;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

nav {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

.hero {
  max-width: 600px;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff4757;
}

.subtitle {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #aaa;
}

.jinx-story {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 20px;
}

.jinx-story img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ff4757;
}

.jinx-story div {
  max-width: 400px;
  text-align: left;
}

.jinx-story h2 {
  margin: 0 0 10px 0;
  color: #ff6b81;
}

/* menu */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: .5rem;
  font-size: 2.2rem;
}

ul li a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.5;
  padding-inline: .2em;
  display: block;
}
/* 1 */
ul li {
  background: 
    conic-gradient(lightblue 0 0)
    bottom/100% 0% no-repeat;
  transition: .2s;
}

/* 2 */
ul li:is(:hover,.active) {
  background-size: 100% 100%;
  transition: .2s .2s;
}

/* 3 */
ul:has(li:hover) li.active:not(:hover) {
  background-size: 100% 0%;
  transition: .2s;
}

ul:before {
  content:"";
  position: absolute;
  position-anchor: --li;
  background: red;
  transition: .2s;
}

ul li:is(:hover, .active) {
  anchor-name: --li;
}

ul:has(li:hover) li.active:not(:hover) {
  anchor-name: none;
}

ul:before {
  bottom: anchor(bottom);
  left: anchor(left);
  right: anchor(right);
  height: .2em;  
}

.NavMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
